.toast-container {
    position: absolute;
    width: 450px;
    float: right;
    background: none;
    color: #ffffff;
    z-index: 9999;
    overflow: hidden;
}

.top {
    top: 0;
    right: 0;
}

.bottom {
    bottom: 0;
    right: 0;
}

.toast-body {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid #ffffff;
    box-shadow: -1px 1px 10px -2px #545454;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
}

.toast-body .icon {
    width:60px;
    text-align: center;
    font-size: 50px;
    float: left;
}
.toast-body .message {
    margin-left: 10px;
    float: left;
    padding: 15px;
    font-size: 25px;
}

.success {
    background: #13a100
}

.error {
    background: #ff511d
}

.info {
    background: #00aeff
}