
    <!-- dashboard header -->
    <header (toggle)="receiveStatus($event)"></header>
    
    <!-- dashboard navigation -->
    <navigation [userAccess]="userService.logged.userType"></navigation>
    
    <!-- dashboard body -> to add child states inside -->
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
    <!-- dashboard footer -> to convert into component -->
    <div class="main-footer">
        <div class="col-sm-12">
          <p>task management # work meter # 2018 </p>
        </div>
        <div class="clearfix"></div>
    </div>

  
  <!-- dashboard side menu -->
  <!-- <div class="overlay" [hidden]="menuState == 'out'" (click)="toggleMenu()"></div> -->
  <side-menu class="main-side-menu" [@slideInOut]="menuState" (toggle)="receiveStatus($event)"></side-menu>