.projects-container {
  padding: 0;
}

.list-container {
  position:relative;
  padding-top: 10px;
}

.projects-list {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.projects-list li .not-found {
  display: block;
  float: left;
  padding: 5px 15px;
  font-size: 20px;
  color: #ffffff;
  background: #4a0170;
  margin-top:10px;
  margin-left: 15px;
}