<div class="projects-container">
  <toolbar (added)="pushProject($event)" (searched)="searchList($event)">
  </toolbar>
  <div class="list-container">
    <ul class="projects-list">
      <li *ngIf="(projects | listFilter:searchTerm).length === 0">
        <span class="not-found">Sorry, no matches...</span>
      </li>
      <li *ngFor="let project of projects | listFilter:searchTerm">
        <project class="col-sm-3" [details]="project"></project>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>
