<div class="vertical-center">
    <div class="container">
      <div class="row">
          <div class="col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
              <div class="account-wall">
                <img class="profile-img" src="assets/gosocial_development_logo.png" alt="">
                <form class="form-signin" [formGroup]="rf" (ngSubmit)="onSubmit()">
                  <input type="text" class="top form-control" placeholder="First Name" formControlName="firstName" />
                    <span class="text-danger" [hidden]="rf.controls.firstName.valid || rf.controls.firstName.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> First Name is required</small>
                    </span>
                  <input type="text" class="center form-control" placeholder="Last Name" formControlName="lastName" />
                    <span class="text-danger" [hidden]="rf.controls.lastName.valid || rf.controls.lastName.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Last Name is required</small>
                    </span>
                  <input type="text" class="center form-control" placeholder="User Name" formControlName="userName" />
                    <span class="text-danger" [hidden]="rf.controls.userName.valid || rf.controls.userName.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> User Name is required</small>
                    </span>
                  <input type="text" class="center form-control" placeholder="Email Address" formControlName="email" />
                    <span class="text-danger" [hidden]="rf.controls.email.valid || rf.controls.email.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Email Address is required</small>
                    </span>
                  <input type="text" class="center form-control" placeholder="Invitation Code" formControlName="invitation" />
                    <span class="text-danger" [hidden]="rf.controls.invitation.valid || rf.controls.invitation.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Invitation Code is required</small>
                    </span>
                  <input type="text" class="bottom form-control" placeholder="Password" formControlName="password" />
                    <span class="text-danger" [hidden]="rf.controls.password.valid || rf.controls.password.pristine">
                      <small><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password is required</small>
                    </span>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="rf.invalid">Register</button>
                </form>
              </div>
              <a routerLink="/login" class="text-center new-account">Login </a>
          </div>
      </div>
    </div>
  </div>
  <!-- ^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$ -->