  <div class="main col-sm-12">
      <div class="row side-header">
        <div class="col-sm-12">
          <h3 (click)="closeMenu()">Settings</h3>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="row side-body">
        <div class="col-sm-12">
          <ul>
            <li><a>Profile</a></li>
            <li><a>Settings</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
  </div>