.main {

}

.side-header {
  min-height: 75px;
}

.side-header h3{
  line-height: 30px;
  font-size: 50px;
  color: #ffffff;
  cursor: pointer;
}

.tm-logo-small {
  padding: 15px 0px;
  margin-right: 5px;
  float: right;
  cursor: pointer;
}

.side-body {
  min-height: 600px;
  padding: 15px 0px;
  border-top: 1px solid #ffffff;
  color: #ffffff;
}

.main ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.main ul li {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.main ul li a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
