<button (click)="successMessage()">success</button>
<div class="vertical-center">
  <div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="assets/gosocial_development_logo.png"
                    alt="">
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Email" required autofocus>
                <input type="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Login</button>
                <label class="remember-checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a>
                <span class="clearfix"></span>
                </form>
            </div>
            <a routerLink="/register" class="text-center new-account">Register </a>
        </div>
    </div>
  </div>
</div>