html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to left top, #000000, #7b00b9);
    background: -moz-linear-gradient( to left top, #000000, #7b00b9);
    background: -ms-linear-gradient( to left top, #000000, #7b00b9);
    background: -o-linear-gradient( to left top, #000000, #7b00b9);
    background: linear-gradient( to left top, #000000, #7b00b9);
    font-family: Helvetica;
}