/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #ebf1f6;
    background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 100%, #d5ebfb 100%);
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 100%,#d5ebfb 100%);
    background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 100%,#d5ebfb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0);
}